---
layout: default
---
{% include subnav.html %}

<div class="container" style="max-width: 940px">
<div class="columns">
  <div class="column" style="background-color: blue;">
    <h1>Documentation</h1>
    <h2>Learn all about the CARTO Engine. An Open Source tool that enables you to use several APIs to build advanced, dynamic geospatial datasets and scalable maps for your own aplications.</h2>
  </div>
</div>


<div class="columns">
 <div class="column">
 	<div class="card">
  		<div class="card-content">
    		<div class="content">
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      		Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      		<a>#css</a> <a>#responsive</a>
      		<br>
      		<small>11:09 PM - 1 Jan 2016</small>
    		</div>
  		</div>
	</div>
 </div>
  <div class="column">
 	<div class="card">
  		<div class="card-content">
    		<div class="content">
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      		Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      		<a>#css</a> <a>#responsive</a>
      		<br>
      		<small>11:09 PM - 1 Jan 2016</small>
    		</div>
  		</div>
	</div>
 </div>
  <div class="column">
 	<div class="card">
  		<div class="card-content">
    		<div class="content">
      		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      		Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      		<a>#css</a> <a>#responsive</a>
      		<br>
      		<small>11:09 PM - 1 Jan 2016</small>
    		</div>
  		</div>
	</div>
 </div>
</div>
</div>

<!-- <ul>
{% for category in site.categories limit: 3 %}
		<li>
	    <a href="{{ site.posts.first.url | prepend: site.baseurl }}">
	          {{ category | first }}
	      </a>
	     </li>
{% endfor %}
</ul> -->


<!-- 
{% for category in site.categories %}
<ul>
<h2>{{ category | first }}</h2>
	{% for posts in category %}
	   {% for post in posts %}
	     {% if post.url %}
	      <li>
	        <a href="{{ post.url }}">
	          {{ post.title }}
	        </a>
	      </li>
	    {% endif %}
	  {% endfor %}
	{% endfor %}
</ul>
{% endfor %} -->

