<nav class="nav principal-menu">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="{{site.baseurl}}/">
        <img src="https://res.cloudinary.com/dkq1dgypu/image/upload/v1488133161/logo_pmkmzq.png" alt="ACME Group logo">
      </a>
    </div>
     <div class="nav-center nav-menu" id="nav-menu">
      <a class="nav-item is-tab is-hidden-mobile">Builder</a>
      <a class="nav-item is-tab is-hidden-mobile">Engine</a>
      <a class="nav-item is-tab is-hidden-mobile">Solutions</a>
      <a class="nav-item is-tab is-hidden-mobile">Pricing</a>
      <a class="nav-item is-tab is-hidden-mobile">Blog</a>
    </div>
    <div class="nav-right">
      <a class="nav-item is-tab is-hidden-mobile">Login</a>
      <a class="nav-item is-tab is-hidden-mobile">Contact us</a>
    </div>
    <span class="nav-toggle" id="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </div>
</nav>
