<aside class="menu">
  <p class="menu-label">
    Home
  </p>
  <p class="menu-label">
    Engine
  </p>
  <p class="submenu-label">
    CARTO.js
  </p>
  <ul class="menu-list">
  {% for post in site.categories['documentation'] %}  
     {% if post.url %}
      <li>
       <a class="{% if page.url == post.url %}active{% endif%}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
     {% endif %}
  {% endfor %}
   </ul>
  <p class="menu-label">
    Location Data Services
  </p>
  <p class="submenu-label">
    Routing
  </p>
  <p class="menu-label">
    Builder
  </p>
  <p class="submenu-label">
    Static
  </p>
  <p class="submenu-label">
    Tiles
  </p>
  <p class="submenu-label">
    WMS
  </p>
</aside>