<aside class="menu">
  <p class="menu-label">
    Home
  </p>
  <p class="menu-label">
    Engine
  </p>
  <p class="submenu-label">
    <span>
    <img src="https://res.cloudinary.com/dkq1dgypu/image/upload/v1488194008/Icon_zcolzl.svg" alt="Carto.js icon">
    </span>
    CARTO.js
  </p>
  <ul class="menu-list">
  {% for post in site.categories['documentation'] %}  
     {% if post.url %}
      <li>
       <a class="{% if page.url == post.url %}active{% endif%}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
     {% endif %}
  {% endfor %}
  </ul>
  <p class="menu-label">
    Location Data Services
  </p>
  <p class="submenu-label">
    <span>
    <img src="https://res.cloudinary.com/dkq1dgypu/image/upload/v1488194008/Icon2_kunpip.svg" alt="Carto.js icon">
    </span>
    Routing
  </p>
  <p class="menu-label">
    Builder
  </p>
  <p class="submenu-label">
    <span>
    <img src="https://res.cloudinary.com/dkq1dgypu/image/upload/v1488194008/Group_3_bxuysi.svg" alt="Carto.js icon">
    </span>
    Static
  </p>
  <p class="submenu-label">
    <span>
    <img src="https://res.cloudinary.com/dkq1dgypu/image/upload/v1488194008/icon4_gcyw0a.svg" alt="Carto.js icon">
    </span>
    Tiles
  </p>
  <p class="submenu-label">
    <span>
    <img src="https://res.cloudinary.com/dkq1dgypu/image/upload/v1488195494/globe_1_tlf7du.svg" alt="Carto.js icon">
    </span>
    WMS
  </p>
</aside>